.product-details{
    width : 70%;
    display: flex;
    justify-content: flex-start;
}


.product-details img {
    width : 130px;
}

.order-product-item {
    padding : 5px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.delivery-details {
    display: flex;
}

.delivery-details > div {
    margin: 2rem;
}

.prod-det > p{
    margin : 1rem 0;
    margin-left : 2rem;
}

.product-name{
    font-weight: bold;
}

.delivery-status-APPROVED,
.delivery-status-CANCELLED,
.delivery-status-DELIVERED{
    padding : 0.5rem 1rem;
    font-size : 0.8rem;
    border-radius: 5px;
}

.delivery-status-CANCELLED {
    color:white;
    background-color: red;
}

.delivery-status-APPROVED {
    color:white;
    background-color: black;
}

.delivery-status-DELIVERED {
    color:white;
    background-color: green;
}

