.drop-menu,
.drop-menu.login{
    position: relative;
    margin: 0 1rem;
}

.drop-menu.login button {
    background-color: white;
    color: #2874f0;
    font-size: 1.1rem;
    padding: 0.2rem 2rem;
}

.drop-menu button {
    background-color: #2874f0;
    color: white;
    font-size: 1.1rem;
    padding: 0.2rem 2rem;
}