.cart-item {
    border-bottom : solid 1px #f0f0f0;
    padding : 0.5rem;
}

.prod-details {
    display: flex;
    justify-content: space-evenly;
}

.prod-details > div {
    margin :1rem;
}

.prod-details img {
    width : 150px;
    
}

.prod-image {
    margin: auto;
}

.prod-actions {
    display: flex;
    justify-content: space-between;
}

.prod-actions button {
    margin : 0 1rem ;
    font-size: 1.2rem;
    color : white;
    border-radius: 5px;
    background-color: red;
    padding : 0.3rem 0.7rem;
    
}