.nav-bar-container {
    width: 100%;
    background-color: #2874f0;
    color: #f0f0f0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.nav-bar{
    width: 60%;
    min-height: 3.5rem;
    background-color: #2874f0;
    color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 1rem;
    margin: auto;
}

.logo-search{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-bar__logo{
    display: flex;
    flex-direction: column;
}

.nav-bar__logo img {
    width : 70px;
    
}

.nav-bar__logo--flipkart-plus{
    font-size: 0.63rem;
    font-style: italic;
}

.nav-bar__logo--flipkart-plus span{
    color: yellow;
    margin-left: 4px;
}



