.order-item-container {
    padding : 0.5rem 2rem;
    border : 1px solid #f0f0f0;
    margin : 10px;
}

.order-item {
   
    display: flex;
    border-radius : 5px;
    display: flex;
    flex-direction: column;
}

.class-div {
    text-align: right;
    padding : 0 3rem;
}

.cancel-button {
    padding : 0.3rem 0.75rem;
    border-radius: 5px;
    background-color: red;
    color : white;
}

.order-delivery-address {
    display: flex;
    align-items: center;
}

.order-delivery-address h3 {
    min-width : 100px;
}