.product-specification {
    border : 1px solid #f0f0f0;
    color: #212121;
    height: 300px;
    overflow: hidden;
    position: relative;
    margin-bottom : 1rem;
}

.product-specification.expand {
    height: auto;
}

.product-specification .header {
   padding : 24px 30px 24px 24px;
   border-bottom : 1px solid #f0f0f0;
}

.spec-item {
    display: flex;
    font-size: 14px;
    margin: 8px 0;
}

.spec-item--key {
    width : 210px;
    padding-right: 20px;
    color: #878787;
}

.spec-cat{
    padding : 1rem;
    border-bottom : 1px solid #f0f0f0;
}

.spec-cat h3 {
    padding-bottom: 0.5rem;
}

.read-more {
    width: 100%;
    padding: 1rem;
    background-image: linear-gradient(white , rgba(0,0,0,0));
   
}

.read-more p {
    color: #2874f0;
    
}