.product-preview {
    align-self: flex-start;
    position: sticky;
    position: -webkit-sticky;
    top: 64px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    min-width: 450px;
    max-width: 600px;
}

.preview-action{
    display: flex;
    justify-content: space-evenly;
}

.preview-action button {
    width: 45%;
    display: block;
    color : white;
    padding: 0.7rem;
    font-size: 1.2rem;
    text-transform: capitalize;
}

.preview-action button.buy{
    background-color: red;
}

.preview-action button.atoc{
    background-color: orange;
}