.list-thumbnail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem;
    text-transform: capitalize;
    max-width: 210px;
    text-align: center;
    margin: auto;
}

.list-thumbnail img {
    max-width: 100%;
    
    display: block;
    padding: 5px 0;
}

.thumb-title{
    font-weight: bold;
    font-size: 1rem;
    padding: 5px 0;
}

.thumb-rel-price {
    color: green;
    font-size: 0.9rem;
    padding: 5px 0;
}

.thumb-subtitle{
    color: rgb(160, 160, 160);
    font-size: 0.95rem;
    padding: 5px 0;
}

